* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #ff758c, #ff7eb3);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .container {
        text-align: center;
    }

    .top h1 {
        color: white;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .envelope {
        position: relative;
        width: 300px;
        height: 300px;
        background: #ff4b5c;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
    }

    .top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #ff4b5c;
    }

    .letter {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 150px;
        background: #fff0f5;
        padding: 20px;
        box-sizing: border-box;
        transform: translateX(350px);
        transition: transform 0.5s ease;
    }

    .letter h2 {
        margin: 0;
        font-size: 24px;
        color: #ff4b5c;
    }

    .letter p {
        margin: 10px 0;
        font-size: 16px;
        color: #555;
    }

    .letter span {
        display: block;
        margin-top: 10px;
        color: #ff4b5c;
        font-weight: bold;
    }

    .envelope:hover .letter {
        transform: translateY(0);
    }

    .hint {
        margin-top: 20px;
        color: white;
        font-size: 26px;
        animation: pulse 1.3s infinite;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .container a{
        display: block;
        margin-top: 20px;
        padding: 10px;
        background-color: #ff4b5c;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-size: 20px;
    }
    .container a:hover{
        background-color: #ff758c;
       box-shadow: 2px 4px 6px 4px #ff4b5c;
    }
    @keyframes pulse {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.8;
        }

        100% {
            opacity: 1;
        }
    }